

  body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
  }





  .container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 20px;
  }

  .description {
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
  }

  .content {
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .post-header h1 {
      font-size: 1.8rem;
    }
  }

 .desc-box {
    background-color: bisque;
    border-radius: 15px;
    width: auto;
    padding: 0 10px;
    text-align: center;
 } 

 .split-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    clear: both; /* Ensures it clears previous floats if any */
    margin-top: 40px; /* Add spacing if needed */
  }
  
  .split-left, .split-right {
    flex: 1 1 45%;
  }
  
  .split-left {
    text-align: left;
  }
  
  .split-right img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
  }

  .content-center {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }